table{
    table-layout: fixed;
    width: 100%;

}
td:nth-child(1){
    width: 60%;
    padding-left: 42%;
    
}
td:nth-child(2){
    width: 20%;
    padding-left: 12%;
    
}
td:nth-child(3){
    width: 20%;
    padding-left: 12%;
}
body{
    background-color: grey;
}
h1{
    font-size: 52;
    color: yellow;
      
}
h2{
    color: yellow;
}
p{
    text-align: center;
    font-size: 14;
}