body{
    background-color:grey;
}
h1{
    font-size: 52;
    color: yellow;  
}
h2{
    color: yellow;
}
p:nth-child(2){
    align-items: center;
    justify-content: center;
    text-align: center;
}
table{
    table-layout: fixed;
    width: 100%;
}
td:nth-child(1){
    width: 60%;
    padding-left: 42%;
    
}
td:nth-child(2){
    width: 20%;
    padding-left: 12%;
    
}
td:nth-child(3){
    width: 20%;
    padding-left: 5%;
}
p:nth-child(3){
    font-size: 8;
    text-align: center;
    align-items: center;
}

